body {
    background: darkgreen;
  }
  
  .card {
    display: inline-block;
    margin: auto;
    height: 400px;
    width: 250px;
  
    border-radius: 6px;
    border: 1px solid black;
    position: relative;
  }
  
  .symbol {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 80px;
  }
  .other-symbol {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 80px;
  }
  .number {
    padding-top: 130px;
    font-size: 80px;
  }
  .button{
      background-color: black;
      color: white;
      position: absolute;
      bottom: 150px;
      right: 630px;
  }
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
